---
Checks: '-*,clang-analyzer-cplusplus.InnerPointer,modernize-use-override,clang-analyzer-cplusplus*'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
  - key:             modernize-use-override.IgnoreDestructors
    value:           '1'
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
...
