SYMBOLS.txt
innosetup.ini
*~
./*.3d
*.err
*.log
*.lox
*.orig
*.pyc
*.rej
*.shp
*.htb
*.stackdump
*.tar.gz
*.xhtml
*.xvi
*.zip
samples/pocket-topo/cave.3d
samples/pocket-topo/cave.plt
core
geomag/test/geomag.i
geomag/test/geomag.py
loch.app/Contents/MacOS/loch
samples.doc/
samples/**/*.doc
samples/**/*.pdf
samples/**/*.html
screendump
symbols.html
thTMPDIR/
CMakeLists.txt.user
build/
rel_notes.md
.vs/
