thversion.h
thbook/version.tex
thmpost.cxx
thtex.h
thlangdata.h
thchencdata.cxx
thcsdata.h
thmpost.h
thcsdata.cxx
thtex.cxx
thsymbolsetlist.h
thsymbolsets.cxx
thsymbolsets.h
thlangdatafields.h
thchencdata.h
SYMBOLS.txt
innosetup.ini
xtherion/therion.tcl
*~
./*.3d
*.a
*.err
*.exe
*.log
*.lox
*.o
*.orig
*.pyc
*.rej
*.shp
*.so
*.htb
*.stackdump
*.tar.gz
*.xhtml
*.xvi
*.zip
samples/pocket-topo/cave.3d
samples/pocket-topo/cave.plt
core
geomag/test/geomag.i
geomag/test/geomag.py
loch.app/Contents/MacOS/loch
samples.doc/
samples/**/*.doc
samples/**/*.pdf
samples/**/*.html
screendump
symbols.html
therion.res
thbook/etc/contents.tex
thbook/thbook.pdf
thTMPDIR/
xtherion/ver.tcl
xtherion/xtherion
xtherion/xtherion.tcl
xtherion/msgxth.tcl
/loch/loch
/loch/loch.res
/therion
/utest
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
extern/fmt/Makefile
extern/fmt/cmake_install.cmake
build/
rel_notes.md
